<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://rentalvehicleservice20260506080304-bjh0c8gjfbb2fzgw.scm.southeastasia-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/b6eaf586-4c7b-4582-99cd-a2915bea7071/resourceGroups/SaiGonRide_group/providers/Microsoft.ContainerRegistry/registries/saigonrideregistry</ContainerResourceId>
    <ContainerResourceName>saigonrideregistry</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>saigonrideregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b6eaf586-4c7b-4582-99cd-a2915bea7071/resourcegroups/DefaultResourceGroup-CCAN/providers/Microsoft.Web/sites/RentalVehicleService20260506080304</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CCAN</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rentalvehicleservice20260506080304-bjh0c8gjfbb2fzgw.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>605475f3-9db8-495e-8b14-85f1010a4b3a</ProjectGuid>
  </PropertyGroup>
</Project>