<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-danger text-white">
				<h5 class="modal-title"><i class="bi bi-exclamation-octagon"></i> Confirm Delete</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<form asp-action="DeleteConfirmed" asp-controller="Vehicles" method="post" target="hidden_frame">
				<div class="modal-body text-center py-4">
					<input type="hidden" id="idToConfirm" name="id" />

					<i class="bi bi-trash3 text-danger" style="font-size: 3rem;"></i>
					<h4 class="mt-3">Are you sure?</h4>
					<p class="text-muted">
						You are about to delete vehicle: <br />
						<div>
							Id: <span class="fw-bold" id="idToDisplay" class="text-dark"></span>
						</div>
						<div>
							Model:
							<span class="fw-bold" id="nameToDisplay" class="text-dark"></span>
						</div>
					</p>
					<small class="text-danger">This action cannot be undone!</small>
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button id="confirmDeleteBtn" type="submit" class="btn btn-danger">Yes, Delete it!</button>
				</div>
			</form>
		</div>
	</div>
</div>